#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  min-height: 100vh;
  padding: 0 2em;
}

.App h1 {
  padding-top: 1em;
  margin: 0;
}

/*SEARCH COMPONENT*/

.search {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 4em 0;
}

.search input {
  max-width: 100%;
  width: 350px;
  height: 42px;
}

.search input::placeholder {
  padding-left: 1em;
}

/*COUNTRIESLIST COMPONENT*/

.countriesList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  padding: 2em 0;
}

.countriesList__message {
  text-align: center;

  bottom: 0;
  color: #e5e5e5;
}

.message__span {
  color: #06d6a0;
}

/*COUNTRY COMPONENT*/

.country {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  background: #343a40;
  border-radius: 1em;
}

.country button {
  margin: 1em 0;
}

.country__image {
  height: 200px;
  padding: 1em;
  border-radius: 0.5em;
}

.country__image img {
  width: 100%;
  height: 200px;
  border-radius: 0.5em;
}

.country__info {
  height: 100%;
}

/*MODAL COMPONENT*/
.modal,
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(13, 10, 28, 0.9);
  width: 100%;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  border-radius: 3px;
  max-width: 647px;
  min-width: 300px;
  width: 100%;
  outline: 1px solid #736da5;
  background: #201a47;
}

.modal__info,
.modal__weather {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
}
.modal__image {
  width: 100%;
  height: 200px;
}

.modal__image img {
  width: 100%;
  height: 200px;
}

.modal__info {
  height: 100%;
}

.modal__city {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__city,
.weather {
  width: 100%;
  background: #332971;
  outline: 1px solid #5948c6;
}

.weather {
  padding: 1em 0;
}

.weather h4 {
  margin: 0;
}

.weather__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.weather__image {
  width: 50%;
}

.weather__about {
  width: 100%;
}

.weather__about p {
  margin: 0;
  padding: 0.4em 0;
  font-weight: bold;
}

.weather__about span {
  margin: 0;
  padding: 0.4em 0;
  font-weight: lighter;
}

.modal__city h2 {
  margin: 0;
}

.modal__languages {
  width: 100%;
  outline: 1px solid #5948c6;
  background: #332971;
  padding: 1em 0;
}

.modal__languages h4 {
  margin: 0;
}

.close-modal {
  position: absolute;
  top: -40px;
  right: -10px;
  padding: 5px 7px;
  z-index: 2;
}
.languages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  width: 100%;
}

.languages p {
  margin: 0;
  padding: 0.4em 0;
}

.modal__languages--title {
  margin: 0;
  padding: 1em 0;
}

@media (max-width: 600px) {
  /*  .modal__info,
  .modal__weather {
    flex-direction: column;
  } */
}
